.profile-dashboard {
    margin-top: 5rem;
}

.profile-header {
    display: flex;
    background-color: white;
    justify-content: space-between;
    border: 2px solid var(--gray);
    padding: 1rem;
    align-items: center;
}

.profile-header__i {
    display: flex;
    align-items: center;
}

.profile-header__info {
    margin-left: 1rem;
}

.profile-body {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--gray);
    padding: 1rem;
    margin-top: 1rem;
}
.profile-header__bio{
    width: 90%;
}
.profile-header__city{
    margin: 5px 0;
}
.profile-header__edit-btn{
    display: flex;
}
.profile-body__shared-bikes {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 5px;
}
.profile-body__title{
    margin-bottom: 1rem;
}
/* Action Icons */
.bike-item__action-icons{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: .5rem;

}
.bike-item__action-icon{
    background-color: rgba(255, 255, 255, 0.815);
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    margin-left: 5px;
}
.bike-item__action-icons .icon-remove{
    color: var(--red);
}
.bike-item__action-icons .icon-edit{
    color: var(--green);
}

@media only screen and (max-width: 757px) {
    .profile-header {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .profile-header__i {
        flex-direction: column;
    }

    .profile-header__info {
        margin: 0;
        justify-content: center;
    }

    .profile-header__city {
        margin: 1rem 0;
    }
    .profile-header__bio{
        margin: 0 auto;
    }

    .profile-body__shared-bikes {
        grid-template-columns: auto;
    }
}