.avatar-small{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.avatar-middle{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}
.avatar-large{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}