.auth-page{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 90vh;
    border: 1px solid var(--gray);
    border-radius: 0 30px 30px 0;
    margin-bottom: 2rem;
}
.auth-page__vector{
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.auth-page__vector img{
    width: 400px;
    height: auto;
    object-fit: cover;
}

.auth-page__login{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}
form input{
    background: none;
    padding: 7px;
    margin: .5rem 0;
    width: 20rem;
    border: none;
    border-bottom: 1px solid rgba(97, 97, 97, 0.349);
}
button{
    background-color: var(--text);
    width: 10rem;
    padding: .8rem 0rem;
    margin: 1rem 0;
    border: none;
    border-radius: 5px;
    color: white;
}
.btn-secondary{
    background-color: var(--primarycolor);
    width: 10rem;
    padding: .8rem 0rem;
    margin: 1rem 0;
    border: none;
    border-radius: 5px;
    color: black;
}
.form-bottom{
    position: absolute;
    bottom: 0;
    text-align: center;
}