/* Bike header */
.bike-ad__header {
    height: 60vh;
    position: relative;
    border-radius: 0 0 30px 30px;
}

.bike-ad__header-image img {
    width: 100%;
    height: 60vh;
    border-radius: 0 0 30px 30px;
    object-fit: cover;
}

.bike-ad__header__gradient {
    position: absolute;
    top: 0;
    border-radius: 0 0 30px 30px;

    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.137), transparent, transparent, rgba(0, 0, 0, 0.116));
}

/* DETAILS */
.bike-ad__details-in{
    display: flex;
    justify-content: space-between;
}
.bike-ad__details-in__right {
    display: flex;
    justify-content: space-around;
}

.bike-ad__details-in__right h2 {
    margin-left: 15px;
    font-size: 16px;
}

/* Body info */
.bike-ad__grid{
    display: grid;
    grid-template-columns: 65% 35%;
    margin-top: 2rem;
}

.bike-ad__body__sellerInfo h2 {
    margin-left: 10px;
}

/* Accesuare icons */
.bike-ad__body__bike-accesuares {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 18px;
    justify-content: flex-start;
    margin-top: 2rem;
}

.bike-ad__body__bike-accesuares li {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.bike-ad__body__bike-accesuares li img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    margin-right: 8px;
    opacity: .7;
}

/* Price */
.bike-ad__details-price {
    font-size: 18px;
}

.bike-ad__details-price b {
    font-size: 27px;
}

/* MAP */
.bike-ad__map {
    margin: 2rem 0;
}

.bike-ad__description p{
    padding: 1rem 0;
}

/* LAST RECOMENDED BIKES */

.bike-ad__last-bikes {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.bike-ad__recommendation {
    margin: 2rem 0;
}

.bike-ad__recommendation__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.write-renter{
    padding: 1rem 2rem;
    margin-left: 4rem;
    border: 1px solid var(--gray3);
    border-radius: 28px;
    height: min-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: var(--gray3) 3px 1px 2px 1px;
}
.write-btn{
    margin-top: 1rem;
    border: 1px solid var(--primarycolor);
    padding: 1rem 0;
    border-radius: 28px;
}
.write-btn:hover{
    background-color: var(--primarycolor);
    color: white;
}

@media only screen and (max-width: 757px) {
    .bike-ad__header {
        height: 30vh;
    }

    .bike-ad__header-image img {
        height: 30vh;
        border-radius: 0;
    }

    /* ----------- */
    .bike-ad__details-in {
        flex-direction: column;
        gap: 1rem;
    }
    .bike-ad__last-bikes {
        display: grid;
        grid-template-columns: auto;
        column-gap: 3px;
    }

    .bike-ad__grid{
        grid-template-columns: auto;
        text-align: center;
    }

    .bike-ad__body__bike-accesuares {
        grid-template-columns: 50% 50%;
        justify-content: center;
        margin-top: 2rem;
        justify-content: center;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    }
    .write-renter{
        margin: 0;
    }
}