.button {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--text);
    border-radius: 4px;
    background: var(--text);
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin-top: 0.5rem;
    display: inline-block;
}

.button:focus {
    outline: none;
}

.button:hover,
.button:active {
    background: #049c7b;
    color: white;
    border-color: #00214d;
}

.button--inverse {
    background: transparent;
    color: var(--text);
}

.button--inverse:hover,
.button--inverse:active {
    color: white;
    background: var(--text);
}

.button--danger {
    background: #830000;
    border-color: #830000;
}

.button--danger:hover,
.button--danger:active {
    background: var(--text);
    border-color: var(--text);
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
    background: #ccc;
    color: #979797;
    border-color: #ccc;
    cursor: not-allowed;
}
.button--white{
    background-color: white;
    color: black;
    border: none;
}
.button--small {
    font-size: 0.8rem;
}

.button--big {
    font-size: 1.5rem;
}