.bikes-page {
    display: grid;
    grid-template-columns: 50% 50%;
}
.bikes-map {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}
.bikes-map iframe{
    width: 100%;
    height: 100%;
}


/* Responsives */

@media only screen and (max-width: 757px) {
    .bikes-page {
        text-align: center;
        grid-template-columns: auto;
    }

    .bikes-list {
        text-align: left;
    }
    .bikes-map{
        display: none;
    }
}

