.bikes-page {
    display: grid;
    grid-template-columns: 60% 40%;
}
.bikes-map {
    position: fixed;
    top: 4rem;
    right: 0;
    width: 40%;
    height: 80%;
    margin-top: .5rem;
}
/* Responsives */

@media only screen and (max-width: 757px) {
    .bikes-page {
        text-align: center;
        grid-template-columns: auto;
    }

    .bikes-list {
        text-align: left;
    }
    .bikes-map{
        display: none;
    }
}

@media only screen and (min-width: 1355px) {
    .bikes-page {
        grid-template-columns: 50% 50%;
    }
    .bikes-map{
        width: 50%;
    }
}