.footer {
    display: flex;
    color: white;
    padding: 1rem 0;
}

.footer-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.footer__social i {
    padding: 5px;
    font-size: 20px;
    color: var(--black);
}

.footer__copyright {
    font-size: 16px;
    color: black;
}

@media only screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-in{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .footer__social{
        margin: 1rem 0;
    }
}