:root {
  --primarycolor: #0F9D58;
  --yellow: #fde24f;
  --text: #00214d;
  --gray: #f6f6f6;
  --gray2:rgba(116, 116, 116, 0.842);
  --gray3:rgba(194, 194, 194, 0.466);
  --white: #fffffe;
  --black: black;
  --red:#d11a2a;
  --green:#39b549;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito','Montserrat', sans-serif;
}
.leaflet-container {
  width: 100%;
  height: 100vh;
  z-index: 98;
}
.leaflet-draggable{
  width: 100%;
  height: 50vh;
}
main {
  padding-top: 1rem;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 600;
}
span{
  font-size: 18px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover{
  color:rgba(0, 0, 0, 0.555)
}

li {
  list-style-type: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}