:root {
  --primarycolor: #43aa8b;
  --yellow: #fde24f;
  --text: #00214d;
  --gray: #f2f4f6;
  --white: #fffffe;
  --black: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
  z-index: 98;
}

a {
  text-decoration: none;
  color: black;
}
a:hover{
  color:rgba(0, 0, 0, 0.555)
}

li {
  list-style-type: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}