.bike-form {
    list-style: none;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    max-width: 40rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.096);
    border-radius: 6px;
    background: white;
    margin-top: 5rem;
}