
.inbox-users-list {
    overflow: hidden;
    background-color: white;
    height: 90vh;
    overflow-y: scroll;
    border-right: 1px solid rgba(82, 82, 82, 0.253);
    border-bottom: 1px solid rgba(82, 82, 82, 0.253);
}

.inbox-users-list__header-title{
    background-color: teal;
    color: white;
    padding: 1rem 5px;
}

/* scroll-bar-style */

.inbox-users-list::-webkit-scrollbar {
    width: .2em;
}
.inbox-users-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.075);
}

.inbox-users-list::-webkit-scrollbar-thumb {
    background-color: black;
    outline: 1px solid rgba(0, 0, 0, 0.39);
}
/* scroll-bar-style */

.inbox-users-list li {
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--gray3);
    padding: 10px 1px 10px 5px;
}

.inbox-users-list li:hover,
.inbox-users-list li:active{
    background: var(--gray3);
    cursor: pointer;
}


.inbox-users-list__title{
    margin-left: 5px;
}