.inbox-page{
    height: 90vh;
}
.inbox-container {
    display: grid;
    grid-template-columns: 25% 75%;
    background-color: white;
    border: 1px solid rgba(82, 82, 82, 0.253);
}
.inbox-messages{
    display: grid;
    grid-template-rows: 12% 78% 10%;
    height: 90vh;
}
.inbox-messages__header{
    padding: 5px 10px;
    border-bottom: 1px solid rgba(88, 88, 88, 0.438);
}

.inbox-messages__body__form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(95, 95, 95, 0.459);
}
.inbox-messages__body__form button{
    border: none;
    background: none;
    margin-right: 15px;
    cursor: pointer;
}    
.inbox-messages__body__form button i{
    font-size: 20px;
}
.inbox-messages__body__form input{
    height: 100%;
    width: 100%;
    padding:0 10px;
    outline: none;
    border: none;
}