.inbox-messages__body__chat {
    background-color: var(--gray);
    width: 100%;
    padding: 10px;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

/* scroll-bar-style */

.inbox-messages__body__chat::-webkit-scrollbar {
    width: .2em;
}
.inbox-messages__body__chat::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.075);
}

.inbox-messages__body__chat::-webkit-scrollbar-thumb {
    background-color: black;
    outline: 1px solid rgba(0, 0, 0, 0.39);
}
/* scroll-bar-style */


.inbox-messages__body__chat_comment {
    display: flex;
    height: min-content;
    max-width: 55%;
}
.reverse-chat{
    margin-left: auto;
    flex-direction: row-reverse;
}

.inbox-messages__body__chat_comment_sender {
    margin: 0 5px;
    font-size: 10px;
    color: var(--gray2);
}

.inbox-messages__body__chat_comment_message_text {
    display: flex;
    background-color: teal;
    color: white;
    padding: 10px;
    border-radius: 5px 20px;
}

.inbox-messages__body__chat_comment_date {
    font-size: 11px;
    color: var(--gray2);
    text-align: end;
    padding: 2px;
}