/* Bike Item */
.bike-bottom-line{
    margin-top: 2rem;
    color:rgba(168, 168, 168, 0.13);
}
.bike-item-title__bottom-line{
    width: 40px;
    color:var(--gray3);
    margin:6px 0;
}
.bike-item {
    display: flex;
}

.bike-item__container {
    margin: 1rem 0;
}

.bike-item__image {
    width: 320px;
    height: 200px;
}
.bike-item__image img {
    width: 320px;
    height: 200px;
    border-radius: 7px;
    border: .2px solid var(--gray3);
    object-fit: cover;
}

/* Bike Item Content */

.bike-item__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
    position: relative;
}

.bike-item__content__price{
    position: absolute;
    bottom: 0;
    right: 0;
}
.small-text{
    color: var(--gray2);
    font-size: 15px;
}