/* Bike Item */
.bike-bottom-line {
    margin-top: 2rem;
    color: rgba(168, 168, 168, 0.13);
}

.bike-item-title__bottom-line {
    width: 40px;
    color: var(--gray3);
    margin: 6px 0;
}

.bike-item {
    display: flex;
}

.bike-item__container {
    margin: 1rem 0;
}

.bike-item__image {
    width: 450px;
    height: 200px;
}

.bike-item__image img {
    width: 100%;
    height: 200px;
    border-radius: 7px;
    border: .2px solid var(--gray3);
    object-fit: cover;
}

/* Bike Item Content */

.bike-item__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
}

.bike-item__content__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bike-item__content__date {
    color: var(--gray2);
}
.small-text {
    color: var(--gray2);
    font-size: 15px;
}

@media only screen and (max-width: 557px) {
    .bike-item__container {
        width: 100%;
    }

    .bike-item {
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        box-shadow: var(--gray3) 0px 1px 2px 0px;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }

    .bike-item__image {
        width: 100%;
    }
    .bike-item__image img{
        border-radius: 10px 10px 0 0;
    }

    .bike-item__content {
        margin-top: .5rem;
        padding: 10px;

    }

    .bike-item__content__footer {
        margin-top: .5rem;
    }

    .bike-item__content__date {
        display: none;
    }
}