.bikes-list {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.bike-filter select{
    margin-right: 1rem;
}
@media only screen and (max-width: 757px) {
    .bikes-list {
        justify-content: center;
        align-items: center;
    }
    .bike-filter select{
        margin-bottom: 1rem;
    }
}